{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/gallery.css'%}" />
    <title>Gallery</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <section class="s1">
        <div class="s1_bg"></div>
        <img
          src="{% static 'img/TOUCH_2.png'%}"
          alt="Touch"
          class="touch_text"
        />
        <img src="{% static 'img/The_2.png'%}" alt="The" class="the_text" />
        <img src="{% static 'img/ART.png'%}" alt="art" class="art_text" />
      </section>
      <section class="s2"></section>
      <section class="s3">
        <div class="s3__bg"></div>
      </section>
    </main>
  </body>
</html>
