{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/gallery.css'%}" />
    <title>Gallery</title>
  </head>

  <body>
    <main>
      <section class="s1">
        <div class="s1_bg"></div>
        <img
          src="{% static 'img/TOUCH_2.png'%}"
          alt="Touch"
          class="touch_text"
        />
        <img src="{% static 'img/The_2.png'%}" alt="The" class="the_text" />
        <img src="{% static 'img/ART.png'%}" alt="art" class="art_text" />
      </section>
      <section class="s2">
        <h2>Gallery-ALL</h2>
      </section>
    </main>
  </body>
</html>
