{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="”viewport”,"
      content="”initial-scale"
      ="1.0”,"
      content="”width"
      ="device-width”"
    />
    <link rel="stylesheet" href="{% static 'css/gallery.css'%}" />
    <title>Gallery</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <section class="s1">
        <div class="s1_bg"></div>
        <img
          src="{% static 'img/TOUCH_2.png'%}"
          alt="Touch"
          class="touch_text"
        />
        <img src="{% static 'img/The_2.png'%}" alt="The" class="the_text" />
        <img src="{% static 'img/ART.png'%}" alt="art" class="art_text" />
      </section>
      <section class="s2">
        <div class="gallery_container">
          {%for painting in paintings%} {{painting.name}} {%endfor%}
        </div>
      </section>
      <section class="s3">
        <div class="s3__bg">
          <div class="s3__content">
            <div class="--wanna_text"><h2>Wanna buy some art</h2></div>
            <div class="s3__elem --would_text">
              <h2>Would like me to paint a piece of art just for you?</h2>
            </div>
            <div class="s3__contact_details">
              <div class="s3__elem contact_details__contact_item">
                <h2>+48 798447530</h2>
              </div>
              <div class="--contact_me">
                <h2 class="--contact_me--txt">Contact Me</h2>
                alt="">
              </div>
              <div class="s3__elem contact_details__contact_item">
                <h2>qillinvs@icloud.com</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
