{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Store</title>
    <link rel="stylesheet" href="{% static 'css/store.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rufina&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav>
        <a href="{%url 'index'%}">
        <div class="navbar">   <img
          src="{% static 'img/bar_arrow_right.png'%}"
          alt="nav_arrow"
          class="bar_arrow_right"
        />
        <img
        src="{% static 'img/Qilins_Art.png'%}"
        alt="nav_arrow"
        class="bar_art"/>
        </div>
      </a>
      </nav>
    <section class="s1">
      <div class="welcome-contents">
        <div class="Heading_text">
          <img
            src="{% static 'img/VintageQilin.png'%}"
            class="Heading_Qilin"
            alt=""
          />
        </div>
        <div class="bg_img">
          <img class="wings_bg" src='{% static "img/vintage_wings.jpg"%}' />
        </div>
        <div class="sociale">
          <i class="fa fa-facebook-square fa-4x sociale__fb sociale__icon"></i>
          <i class="fa fa-instagram fa-4x sociale__insta sociale__icon"></i>
        </div>
      </div>
    </section>
    <section class="s2">
        <div class="shop-grid">
          {%for ciuch in ciuchy%}
          <div class="shop-grid__ciuch">
            <a href="{% url 'detail' ciuch.id %}">
              <div class="ciuch__img">
                <img src="{{ciuch.main_img}}" class="ciuch__thumbnail" alt="" />
              </div>
            </a>
            <div class="ciuch__name">{{ciuch.name}}</div>
            <div class="ciuch__price">{{ciuch.price}}</div>
            <div class="ciuch__size">Rozmiar: {{ciuch.size}}</div>
          </div>

          {%endfor%}
        </div>
    </section>
    <section class="s3">
      <main class="s3__main">
        <div class="contact_texts">
          <div class="Heading_text">
            <img
              src="{% static 'img/VintageQilin.png'%}"
              class="Heading_Qilin Heading_Qilin--bottom"
              alt=""
            />
          </div>
          <div class="contact_texts__contact_me">
            <img
              src="{% static 'img/contact_me.png'%}"
              class="contact_texts__contact_me_img"
              alt=""
            />
          </div>
        </div>
        <div class="bg__img bg__img_container"></div>
      </section>
      </main>

    <h3></h3>
  </body>
</html>
