* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.s1 {
  height: 220vh;
  width: 100vw;
  position: relative;
}

.s2,
.s3 {
  height: 100vh;
  width: 100vw;
}

.s1_bg {
  height: 100%;
  background: url(/static/img/touchtheart-2.jpg);
  background-size: cover;
  background-position: center;
}

.s2 {
  background-color: rgba(34, 32, 32, 1);
}

.s3__bg {
  background: url(/static/img/chair_background.jpg);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.touch_text {
  position: absolute;
  left: 11vw;
  top: 26vh;
  width: 38vw;
}

.the_text {
  position: absolute;
  right: 8vw;
  top: 45vh;
  width: 30vw;
}

.art_text {
  position: absolute;
  left: 20vw;
  bottom: 15vh;
  width: 30vw;
}

/* GALLERY */

.s3 {
  position: relative;
}

.s3__content {
  position: absolute;
  top: 50px;
  left: 10vw;
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Amatic SC", cursive;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.25em;
  padding: 10vh 0 0 0;
}

.s3__elem {
  background-color: rgba(19, 19, 19, 0.38);
  padding: 20px;
  border-radius: 40px;
}

.--contact_me {
}

.--wanna_text {
  position: relative;
  top: 2%;
  text-align: center;
  color: black;
}
.--would_text {
  position: relative;
  width: 70vw;
  text-align: center;
}
.--contact_me--txt {
  position: relative;
  color: black;
  font-size: 1.8em;
  left: 28%;
  top: 6vh;
  letter-spacing: 0.3rem;
}

.s3__contact_details {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 94vw;
  margin: 0 20px 0 0;
}

.contact_details__contact_item {
  position: relative;
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  .s1_bg {
    background-size: auto;
  }
}
